name: Deploy Web App

on: 
  push:
    branches: [ main ]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code 
        uses: actions/checkout@v2
      
   
      - name: Docker login 
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Docker/Dockerfile.web
          push: true
          tags: |
            rakeshpaulraj/web:${{ github.sha }}
            rakeshpaulraj/web:latest