name: Deploy Web App

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Docker/Dockerfile.web
          push: true
          tags: |
            rakeshpaulraj/web:${{ github.sha }}
      - name: Deploy to server
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 700 ~/ssh_key
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key root@57.159.28.23 -t "
            sudo docker stop web_app || true
            sudo docker rm web_app || true
            sudo docker run -d --name web_app -p 3000:3000 \
              -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
              -e NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }} \
              -e NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }} \
              -e GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }} \
              -e GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }} \
              -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
              -e GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }} \
              rakeshpaulraj/web:${{ github.sha }}"