name:Deploy Websocket
on: 
  push:
    branches: [ main ]
jobs: 
  build:
     runs-on: ubuntu-latest
     steps: 
       - name: Checkout code 
         uses: action/checkout@v2
      
       - name: Docker login 
         uses: docker/login-action@v2
         with: 
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_PASSWORD }}
       - name: Build and Push Docker image
         uses: docker/build-push-action@v2
         with:
           context: .
           file: ./docker/Dockerfile.ws
          push: true
          tags: rakeshpaulraj/ws:${{ github.sha }}  
