name: Deploy Websocket

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Docker/Dockerfile.ws
          push: true
          tags: |
            rakeshpaulraj/ws:${{ github.sha }}
      - name: Deploy to server
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key

          ssh -o StrictHostKeyChecking=no \
              -i ~/ssh_key \
              azureuser@57.159.28.23 \
              "docker stop ws_app || true && \
               docker rm ws_app || true && \
               docker pull rakeshpaulraj/ws:${{ github.sha }} && \
               docker run -d \
                 --name ws_app \
                 -p 8081:8081 \
                 -e JWT_SECRET='${{ secrets.JWT_SECRET }}' \
                 rakeshpaulraj/ws:${{ github.sha }}"
    
          rm -f ~/ssh_key 